body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  max-width: 300px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

button {
  width: 90%;
  max-width: 300px;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
  background: orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#ad-box {
  margin-top: 20px;
}
